# Don't apply this file directly. Create the secret like this instead:
#
#   htpasswd -c auth YOUR_USERNAME
#   kubectl create secret generic basic-auth --from-file=auth -n miaya-playbook
#
# If you must declare it via YAML (e.g., GitOps), generate htpasswd output, then base64 it:
#
#   echo -n "$(htpasswd -nb USERNAME PASSWORD)" | base64 -w0
#
# Paste the base64 string into `data.auth` below and apply.

apiVersion: v1
kind: Secret
metadata:
  name: basic-auth
  namespace: miaya-playbook
type: Opaque
data:
  auth: REPLACE_WITH_BASE64_OF_HTPASSWD_OUTPUT
